<script type="application/ld+json">
{     
  "@context": "https://schema.org/",         
  "@type": "ProfilePage",         
  "mainEntity": {
    "@context": "https://schema.org/",         
    "@type": "Person",         
    "@id": "KendallWMiller",
    "url": "https://KendallWMiller.com/",          
    "name": "Kendall Miller",
    "alternateName": "Kendall W. Miller",
    "description": "Kendall Miller is an accomplished CxO with a career in B2B and B2G SaaS companies. He has lead multiple technology-focused companies through startup, growth, and turnaround periods in a variety of industries including Legal Tech, DevOps tools, Publishing & eCommerce. 
    Kendall's unique value is his ability to speak fluidly across business, technology, and sales - bringing all disciplines together to drive growth through delivering better value to customers. 
    From his career start at John Deere, Kendall Miller was an early adopter of Lean / Six Sigma which lead naturally to Agile and DevOps methodologies. 
    Kendall has been a speaker at numerous conferences and events on topics ranging from software development to leadership and entrepreneurship.",
    "image": "https://kendallwmiller.com/images/headshot-960.png",   
    "email": "kendall@kendallwmiller.com",
    "sameAs": [
      "https://www.linkedin.com/in/kendallmiller/",           
      "https://github.com/kendallmiller/",
    ],
    "jobTitle": "CxO",
    "worksFor": {
      "@type": "Organization",
      "name": "Gibraltar Software, Inc."
    },
    "address": {
      "@type": "PostalAddress",
      "addressRegion": "MD",
      "addressCountry": "US"
    },
    "alumniOf": {
      "@type": "CollegeOrUniversity",
      "name": "University of Illinois Urbana-Champaign",
      "sameAs": "https://uiuc.edu"
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "Kendall Miller",
    "url": "https://kendallmiller.com/about/"
  },
  "publisher": {
    "@type": "Person",
    "name": "Kendall Miller",
    "logo": {
      "@type": "ImageObject",
      "url": "https://kendallmiller.com/images/android-chrome-512x512.png"
    }
  },
  "description": "{{ page.description | strip_html | strip_newlines | truncate: 160 }}"
}
 </script>