---
layout: default
title: Talks
description: 
---

<div class="container">
  <div class="page-section-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.talks__settings.talks__title }}{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% else site.data.settings.talks__settings.talks__description %}
      <p class="page-description">{{ site.data.settings.talks__settings.talks__description }}</p>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="section-small">
        <div class="section__inner grid">
          {% if site.talks.size > 0 %}
          {% assign orderedTalks = site.talks | sort: "date" | reverse %}
            {% for post in orderedTalks %}
            {{ post.title }}
              {% include article.html %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>